<div class="page-header">
  <h1>Contenu</h1>
</div>

<%= link_to "Ajouter un billet", new_status_path, class: "btn btn-danger" %>
<% @statuses.each do |status| %>
  <div class="status">
    <strong><%= status.nom.capitalize %></strong>
    <p><%= status.contenu.capitalize %></p>
    <div class="meta">
      <%=  link_to time_ago_in_words(link_to status.created_at).capitalize + " ago" ,status %>
      <span class="admin animated bounceInRight">
        | <%= link_to "Edit", edit_status_path(status) %> |
        <%= link_to "Delete", status, method: :delete, data: {confirm: "Êtes-vous sûr de vouloir supprimer ce billet ?"} %>
      </span>
    </div>
  </div>
<% end %>
